.page[b-ymfpvu92ff] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ymfpvu92ff] {
    flex: 1;
}

.sidebar[b-ymfpvu92ff] {
    background-color: #633480;
}

.header[b-ymfpvu92ff] {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

    .top-row[b-ymfpvu92ff]  a, .top-row[b-ymfpvu92ff]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ymfpvu92ff]  a:hover, .top-row[b-ymfpvu92ff]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ymfpvu92ff]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ymfpvu92ff] {
        display: none;
    }

    .top-row.auth[b-ymfpvu92ff] {
        justify-content: space-between;
    }

    .top-row[b-ymfpvu92ff]  a, .top-row[b-ymfpvu92ff]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ymfpvu92ff] {
        flex-direction: row;
    }

    .sidebar[b-ymfpvu92ff] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ymfpvu92ff] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ymfpvu92ff]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ymfpvu92ff], article[b-ymfpvu92ff] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
